html {
    font-size: 10px;
    background-color: #0081cf;
}
body {
    font-family: Verdana, sans-serif;
}

main {
    width: 90%;
    max-width: 1100px;
    margin: auto;
}
.booking {
    max-width: 850px;
    background: #fff;
    background: linear-gradient(180deg, rgba(255,255,255,.2) 0%, rgba(255,255,255,.6) 100%);
    border-radius: 6px 6px 0 0;
    margin: auto;
}
.cta {
    margin-top: 5em;
}
header {
    padding: 2em;
}
.cta h1 {
    font-size: 3.6em;
    font-weight: normal;
    color: #f9f871;
    margin-bottom: .2em;
}
.cta p {
    font-size: 1.6em;
    line-height: 2;
    color: #333;
}
#bookTrip {
    background-color: rgba(255,255,255,.8);
    margin: 1em auto;
    padding: 1.5em;
    border-radius: 0 0 6px 6px;
    box-shadow: 0 0 10px -5px rgba(0,0,0,.4);
}
/* text inputs and labels */
.formGroup {
    margin-bottom: 20px;
}
.formGroup li {
    position: relative;
    margin-bottom: 2em;
}
.formGroup label {
    position: absolute;
    top: 5px;
    left: 16px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 2;
    font-size: 1.4em;
    color: #91c9eb;
}
/* text inputs and select boxes */
.formControl {
    background-color: #fff;
    height: 60px;
    padding: 24px 15px 0;
    color: #333;
    border: solid 2px #0081cf;
    border-radius: 4px;
    font-family: Verdana, sans-serif;
    font-size: 16px;
    font-weight: bold;
    display: block;
    width: 85%;
}

/* radio buttons / checkboxes */
.radCheck {
    margin-bottom: 20px;
}
#tripType {
    display: flex;
    flex-direction: column;
    gap: 1em;
}
#additionalServices {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}
#additionalServices li {
    min-width: 260px;
}
.radCheck label {
    color: #333;
    font-size: 1.6em;
    font-weight: bold;
    display: flex;
    align-items: center;
}
.radCheck input {
    width: 25px;
    height: 25px;
    accent-color: #ca781f;
    margin-right: 5px;
}

/* submit and reset */
.btns {
    display: flex;
    justify-content: space-between;
    margin: 2em 6em 0 0;
}
.btns input {
    background-color: #20B6E6;
    color: #fff;
    text-transform: uppercase;
    border-radius: 6px;
    width: 100%;
    padding: 6px 10px;
    border: none;
}
.btns input:hover, .btns input[type=reset]:hover {
    background-color: #ca781f;
}
.btns input[type=reset] {
    background-color: #8cd1e7;
}


@media screen and (min-width: 500px) {
    #tripType {
        flex-direction: row;
    }
    #placeDate, #details {
        display: flex;
        flex-wrap: wrap;
        gap: 2em;
    }
    #placeDate li {
        width: 47%;
        margin-bottom: 0;
    }
    #details {
        gap: 1em;
    }
    #details li {
        width: 45%;
        margin-bottom: 0;
    }
    #details li:last-of-type {
        width: 80%;
    }
}

@media screen and (min-width: 800px) {
    #details li, #details li:last-of-type {
        width: 30%;
    }
}


















